body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 2px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
}